.about {
  padding: 50px;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about-img {
  text-align: center;
}

.about-img img {
  width: 350px; /* Set a smaller width */
  height: 350px; /* Set a smaller height to maintain aspect ratio */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.about-content {
  padding: 20px;
}

.about-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.about-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  text-align: justify;
}
  /* ======== DARK MODE ========= */
  


  #dark .about {
    background-color: #121212;
  }
  
  #dark .about-content h1 {
    color: #ffffff;
  }
  
  #dark .about-content p {
    color: #bbbbbb;
  }
  
  #dark .about-img img {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }




  
  /* ================================ */

 

  @media (max-width: 1000px) {
    .about {
      flex-direction: column; /* Stack the image and content vertically */
      margin-left: 0; /* Adjust margin for smaller screens */
      padding: 0;
    }
  
    .about-img img {
      max-width: 20rem; /* Let the image fill its container width */
    }
  
    .about-content {
      padding: 20px; /* Add padding for better spacing */
    }
  }

  @media (max-width: 600px) {
    .about {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      width: 100%;
    }
    .about-content h1 {
      margin-top: 10px;
    }
    .about-img img {
      max-height: 20rem;
      max-width: 15rem; /* Decrease image size on smaller screens */
      border-radius: 3rem; /* Slightly smaller border radius */
    }

  }

  @media (max-width: 400px) {
    .about-img img {
      max-width: 10rem; /* Further decrease image size for very small screens */
      border-radius: 2rem; 
    }
  }