.home-container{
    margin-left: 0;
    height: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: top;
   
    
}
.home-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
}

.home-content p{
    display: flex;
    justify-content: center;
    padding: 5px;
    color: rgba(0, 0, 0, 0.514);
    font-size: 25px;

    
    
    
    /* margin-left: 150px; */
}
.home-content h1{
    display: flex;
    justify-content: center;
    color: #000000;
    padding: 5px;
    max-width: 300rem;
    /* margin-left: 150px; */
    
}

.home-buttons{
    display: flex;
    justify-content: center;
    /* margin-left: 150px; */
    margin-top: 20px;
}

.home-buttons .btn-hire{

background-color: #138781;
color: white;
width: 160px;
}
.home-buttons .btn-hire:hover{
    background-color: white;
    color: #138781;
    border: 0.5px solid #138781;
    width: 200px;
    transition: 0.5s;
}

.home-buttons .btn-cv{
    background-color: #138781;
color: white;
width: 160px;
margin-left: 15px;
}

.home-buttons .btn-cv:hover{
    background-color: white;
    color: #138781;
    border: 0.5px solid #138781;
    width: 200px;
    transition: 0.5s;
}

.theme-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #1e1e1e;
    position: fixed;
    margin-top: 50px;
    z-index: 1;

}

@media (max-width:760px) {
  .home-content h1{
    justify-content: center;
    
  }
  
}
/* =============== */
@media (max-width: 600px) {
    .home-container {
      padding: 0;
      margin: 0;
      margin-top: 20px;
      width: 100%;
    }
    .home-content h2 {
      font-size: 24px;
    }
    .home-content h1 {
      font-size: 24px;
    }
  }

  /* ====Dark Mode */
  #dark .home-content h1{
 
    color: #ffffff;
    
    
}
#dark .home-content p{
    
    color: #ffffff65;
    
    
}

  /* Links and Button Styling in Dark Mode */
  #dark .home-buttons .btn-cv , #dark .home-buttons .btn-hire{
    background-color: #1e1e1e; /* Elegant, dark button background */
    color: #ffffff; /* Button text in soft pastel color */
    border: none;
    /* padding: 10px 20px; */
    font-size: 1rem;
    
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Slight shadow for button depth */
    transition: background-color 0.3s ease;
  }
  
  #dark .home-buttons .btn-cv:hover{
    
    background-color: #7c7588; 
    transition: 0.5s;
  }
   #dark .home-buttons .btn-hire:hover {
    background-color: #7c7588; /* Slightly brighter hover state */
    transition: 0.5s;
  }
  