.project{
    padding-left: 130px ;
    margin-top: 60px;
}

.project hr{
    color: rgb(0, 0, 0);
    width: 400px;
    margin: 10px auto;
}

.project h2{
    font-weight: bold;
}

#ads{
    margin: 30px 0px 30px 0px;

}

#ads .card-notify-badge{
    position:absolute;
    left:-10px;
    top:-20px;
    background: #f29f67;
text-align: center;
border-radius: 30px 30px 30px 30px;
color:black;
padding:5px 10px;
font-size:14px;
}

.card img{
    height: 150px;
    width: 100%;
}

.card-details-badge{
    background-color: aquamarine;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    padding: 5px 10px ;
    font-size: 14px;
    color: black;

}
.card-image-overly{
    font-size: 2px;
}
.card-image-overly span{
    display: inline-block;
    margin-left: 5px;
    color: white;

}
.ad-btn{
    text-transform:  uppercase;
    width: 150px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 55, 38);
    color: rgb(255, 255, 255);
    border-radius: 80px;
    font-size:16px;
    line-height: 15px;
    text-decoration:none;
    margin: 20px auto 20px auto ;
    overflow: hidden;
    position: relative;
}
.ad-btn:hover{
    background-color: white;
    color: rgb(6, 55, 38);
    background: transparent;
    border: 2px solid #12b5b3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.card:hover{
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}