.footer {
    padding: 2rem 5rem;
    background-color: rgb(223, 223, 223);
    color: var(--text-color);
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

#dark .footer{
    background-color: rgb(30, 30, 30);
}
  
  .footer h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
    margin: 0;
    transition: color 0.3s ease;
  }
  
  .footer h4:hover {
    color: var(--primary-hover-color);
  }
  
  .footer a {
    color: var(--secondary-color);
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: var(--primary-hover-color);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer {
      padding: 15px;
    }
  
    .footer h4 {
      font-size: 1rem;
    }
  }
  